<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
    <add name="Arts" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Catalogo_DB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <!-- name="Arts" connectionString="Data Source=DESKTOP-Q9T0N5L;Initial Catalog=CATALOGO_DB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
	</connectionStrings>
</configuration>